{% extends 'layout.html' %}

{% block active_content %}
active
{% endblock %}
{% block content %}
<div class="content-header">
    <h1>CONTENT MANAGEMENT</h1>
</div>

<div class="content">
    <!-- Form Section -->
    <div class="modal" id="downloadVideoModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Download Videos</h5>
                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                </div>
                <div class="modal-body">
                    <form id="download-form" method="POST">
                        <div>
                            <div class="form-group">
                                    <label for="videoLinks">Video Links:</label>
                                    <textarea class="form-control" id="videoLinks" name="videoLinks" rows="5"></textarea>
                                </div>
                            <div class="form-group">
                                    <label for="savefile">Save File as</label>
                                    <select class="form-control" id="savefile" name="savefile" required>
                                        <option value="MP3">MP3</option>
                                        <option selected value="MP4">MP4</option>
                                        <option value="AVI">AVI</option>
                                        <option value="MKV">MKV</option>
                                    </select>
                                </div>
                            <div class="form-group">
                                    <label for="video_size">Video Size:</label>
                                    <select class="form-control" id="video_size" name="video_size" required>
                                        <option value="1080">1080</option>
                                        <option selected value="720">720</option>
                                        <option value="2K">2K</option>
                                    </select>
                                </div>
                            <div class="form-group">
                                    <label for="folderName">Folder Name</label>
                                    <input class="form-control" id="folderName" name="folderName" placeholder="path video location" required type="text">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal" id="cancelBtn" type="button">CANCEL</button>
                    <button class="btn btn-primary" id="startDownloadBtn" type="button">START DOWNLOAD</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Search Filter Section -->
    <div class="filter-section">
        <form id="filter-form" method="GET">
            <div class="row">
                <!-- Combo box for filtering by category -->
                <div class="col-md-4">
                    <label for="category">Filter By:</label>
                    <select class="form-control" id="category" name="category">
                        <option value="">All</option>
                        <option value="name">Name</option>
                    </select>
                </div>

                <!-- Text box for searching -->
                <div class="col-md-4">
                    <label for="search">Search:</label>
                    <input class="form-control" id="search" name="search" placeholder="Enter keyword..." type="text">
                </div>

                <!-- Submit Button for filtering -->
                <div class="col-md-2">
                    <label>&nbsp;</label>
                    <button class="btn btn-primary btn-block" id="pasteLinkDownload" type="button">Paste Links</button>
                </div>
                <div class="col-md-2">
                    <label>&nbsp;</label>
                    <button type="button" id="startDownloadButton" class="btn btn-primary btn-block">Start Download</button>
                </div>
            </div>
        </form>
    </div>

    <!-- Table Section -->
    <table class="table table-bordered mt-4" id="videoTable">
        <thead>
        <tr>
            <th><input type="checkbox" id="checkAll"></th>
            <th>No</th>
            <th>Folder Name</th>
            <th>Resource</th>
            <th>Title</th>
            <th>Size</th>
            <th>Durations</th>
            <th>Video Link</th>
            <th>Status</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

    <!-- Context Menu -->
    <div class="dropdown-menu shadow" id="context-menu" style="position: absolute; display: none;">
        <a class="dropdown-item" href="#" id="context-edit">
            <i class="fas fa-check"></i> Select
        </a>
        <a class="dropdown-item" href="#" id="context-unselect">
            <i class="fas fa-times"></i> Unselect
        </a>

        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#" id="context-view">
            <i class="fas fa-eye"></i> Download All
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#" id="context-copy">
            <i class="fas fa-times"></i> Copy
        </a>
        <a class="dropdown-item" href="#" id="context-delete">
            <i class="fas fa-trash-alt"></i> Delete
        </a>
        <a class="dropdown-item" href="#" id="context-update">
            <i class="fas fa-marker"></i> Update Video info
        </a>


    </div>
</div>


{% endblock %}
{% block scripts %}
<script src="/static/AdminLTE/js/download.js"></script>

{% endblock %}

<!--{% block styles %}-->
<!--<link href="/static/AdminLTE/css/download-menu.css" rel="stylesheet">-->
<!--{% endblock %}-->