{% extends 'layout.html' %}

{% block content %}
<div class="content-header">
    <h1>FACEBOOK MANAGEMENT</h1>
</div>

<div class="content">
<a href="{{ url_for('facebook') }}" class="btn btn-primary">Back</a>
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">

            <!-- Profile Image -->
            <div class="card card-primary card-outline">
              <div class="card-body box-profile">
                <div class="text-center">
                  <img class="profile-user-img img-fluid img-circle" src="{{ url_for('static', filename='AdminLTE/img/user4-128x128.jpg') }}" alt="User profile picture">
                </div>

                <h3 class="profile-username text-center">{{ item.account }}</h3>

                <p class="text-muted text-center">{{ item.page_name }}</p>

                <ul class="list-group list-group-unbordered mb-3">
                  <li class="list-group-item">
                    <b>Followers</b> <a class="float-right">{{ item.followers }}</a>
                  </li>
                  <li class="list-group-item">
                    <b>Reached</b> <a class="float-right">{{ item.reached }}</a>
                  </li>
                  <li class="list-group-item">
                    <b>Friends</b> <a class="float-right">13,287</a>
                  </li>
                </ul>

                <a href="#" class="btn btn-primary btn-block"><b>View Page</b></a>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <!-- About Me Box -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">About Page</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <strong><i class="fas fa-book mr-1"></i> Content</strong>

                <p class="text-muted">
                  Cartoon Clips audience USA.
                </p>

                <hr>

                <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>

                <p class="text-muted">Las Vegas, Las Vegas</p>

                <hr>

                <strong><i class="fas fa-pencil-alt mr-1"></i> Bank</strong>

                <p class="text-muted">
                  <span class="tag tag-danger">Wise Bank</span>
                  <span class="tag tag-success">Admin Payout</span>
                </p>

                <hr>

                <strong><i class="far fa-file-alt mr-1"></i> Notes</strong>

                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
          <div class="col-md-9">
            <div class="card">
              <div class="card-header p-2">
                <ul class="nav nav-pills">
                  <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Activity</a></li>
                  <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Timeline</a></li>
                  <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Settings</a></li>
                </ul>
              </div><!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content">
                  <div class="active tab-pane" id="activity">
                    <!-- Post -->


                  <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
              </div><!-- /.card-body -->
            </div>
            <!-- /.nav-tabs-custom -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>

<!--    <h2>Page Detail</h2>-->
<!--    <p>Account: {{ item.account }}</p>-->
<!--    <p>Page Name: {{ item.page_name }}</p>-->
<!--    <p>Follower/Friends: {{ item.follower_friends }}</p>-->
<!--    <p>Reached: {{ item.reached }}</p>-->
<!--    <p>Created Date: {{ item.created_date }}</p>-->
<!--    <p>Monetization: {{ item.monetization }}</p>-->
<!--    <p>Description: {{ item.description }}</p>-->

<!--    <a href="{{ url_for('index') }}" class="btn btn-primary">Back</a>-->
</div>
{% endblock %}
