{% extends 'layout.html' %}
{% block menu_open_facebook %} menu-open {% endblock %}
{% block active_facebook_account %}
active
{% endblock %}
{% block content %}
<div class="content-header">
    <h1>FACEBOOK ACCOUNTS</h1>
</div>

<div class="content">
    <!--    <div class="row">-->
    <!--        <div class="col-md-6">-->
    <!--            <div class="card">-->
    <!--                <div class="card-body">-->
    <!--                    <form>-->
    <!--                        <div class="row">-->
    <!--                            &lt;!&ndash; First row of checkboxes &ndash;&gt;-->
    <!--                            <div class="col-sm-6">-->
    <!--                                <div class="form-group">-->
    <!--                                    <label><input type="checkbox"> Watch Video</label>-->
    <!--                                    <input class="form-control" placeholder="Minutes" type="number">-->
    <!--                                </div>-->
    <!--                                <div class="form-group">-->
    <!--                                    <label><input type="checkbox"> Marketplace</label>-->
    <!--                                </div>-->
    <!--                                <div class="form-group">-->
    <!--                                    <label><input type="checkbox"> Like Post</label>-->
    <!--                                    <input class="form-control" placeholder="Likes" type="number">-->
    <!--                                </div>-->
    <!--                                <div class="form-group">-->
    <!--                                    <label><input type="checkbox"> Newsfeed</label>-->
    <!--                                    <input class="form-control" placeholder="Minutes" type="number">-->
    <!--                                </div>-->
    <!--                            </div>-->
    <!--                            &lt;!&ndash; Second row of checkboxes &ndash;&gt;-->
    <!--                            <div class="col-sm-6">-->
    <!--                                <div class="form-group">-->
    <!--                                    <label><input type="checkbox"> Mute</label>-->
    <!--                                </div>-->
    <!--                                <div class="form-group">-->
    <!--                                    <label><input type="checkbox"> Add Friends</label>-->
    <!--                                    <input class="form-control" placeholder="Number" type="number">-->
    <!--                                </div>-->
    <!--                                <div class="form-group">-->
    <!--                                    <label><input type="checkbox"> Delay Post</label>-->
    <!--                                    <input class="form-control" placeholder="Seconds" type="number">-->
    <!--                                </div>-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                        &lt;!&ndash; Buttons &ndash;&gt;-->
    <!--                        <div class="row">-->
    <!--                            &lt;!&ndash;                                <button type="button" class="btn btn-success">Start</button>&ndash;&gt;-->
    <!--                            <div class="col-md-3">-->
    <!--                                <button class="btn btn-primary btn-block" type="button">START</button>-->
    <!--                            </div>-->
    <!--                            <div class="col-md-3">-->
    <!--                                <button class="btn btn-danger btn-block" type="button">STOP</button>-->
    <!--                            </div>-->
    <!--                            &lt;!&ndash;                                <button type="button" class="btn btn-danger">Stop</button>&ndash;&gt;-->
    <!--                        </div>-->
    <!--                    </form>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--        &lt;!&ndash; Account Table &ndash;&gt;-->
    <!--        <div class="col-md-6">-->
    <!--            <div class="card">-->
    <!--                <div class="card-header">-->
    <!--                    <h3 class="card-title">Device Management</h3>-->
    <!--                </div>-->
    <!--                <div class="card-body">-->
    <!--                    <table class="table table-bordered">-->
    <!--                        <thead>-->
    <!--                        <tr>-->
    <!--                            <td><input type="checkbox" id="select-all-device"></td>-->
    <!--                            <td>No</td>-->
    <!--                            <th>UDID.</th>-->
    <!--                            <th>Name</th>-->
    <!--                            <th>IP Address</th>-->
    <!--                            <th>Status</th>-->
    <!--                            <th>Action</th>-->
    <!--                        </tr>-->
    <!--                        </thead>-->
    <!--                        <tbody>-->
    <!--                        {% for item in devices %}-->
    <!--                        <tr>-->
    <!--                            <td><input type="checkbox" class="select-row" data-id="1"></td>-->
    <!--                            <td>{{ '%03d' % (loop.index) }}</td>-->
    <!--                            <td>{{ item.udid }}</td>-->
    <!--                            <td>{{ item.name }}</td>-->
    <!--                            <td></td>-->
    <!--                            <td><span class="badge badge-success">{{ item.status}}</span></td>-->
    <!--                            <td>-->
    <!--                                &lt;!&ndash;                <a class="btn btn-sm btn-primary" href="{{ url_for('edit_item', id=item.id) }}">Edit</a>&ndash;&gt;-->
    <!--                                <a class="btn btn-sm btn-danger delete-btn" data-id="1"-->
    <!--                                   href="#">Disconnect</a>-->
    <!--                                &lt;!&ndash;                <a class="btn btn-sm btn-info" href="{{ url_for('view_item', id=item.id) }}">View</a>&ndash;&gt;-->
    <!--                            </td>-->
    <!--                        </tr>-->
    <!--                        {% else %}-->
    <!--                        <tr>-->
    <!--                            <td colspan="9">No items found</td>-->
    <!--                        </tr>-->
    <!--                        {% endfor %}-->
    <!--                        </tbody>-->
    <!--                    </table>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->

    <!-- Search Filter Section -->
    <div class="filter-section">
        <form id="filter-form" method="GET">
            <div class="row">
                <!-- Combo box for filtering by category -->
                <div class="col-md-2">
                    <label for="category">Search By:</label>
                    <select class="form-control" id="category" name="category">
                        <option value="">All</option>
                        <option value="Category1">Page(Name or ID)</option>
                        <option value="Category2">Account</option>
                        <option value="Category3">Monetization</option>
                    </select>
                </div>

                <!-- Text box for searching -->
                <div class="col-md-2">
                    <label for="search">Search:</label>
                    <input class="form-control" id="search" name="search" placeholder="Enter keyword..." type="text">
                </div>

                <!-- Submit Button for filtering -->
                <!--                <div class="col-md-1">-->
                <!--                    <label>&nbsp;</label>-->
                <!--                    <button class="btn btn-primary btn-block" type="submit">Filter</button>-->
                <!--                </div>-->
                <!-- Submit Button for filtering -->
                <!--                <div class="col-md-2">-->
                <!--                    <label>&nbsp;</label>-->
                <!--                    <a href="{{ url_for('add_facebook_account')}}">-->
                <!--                        <button class="btn btn-primary btn-block" type="button" id="addAccountBtn">Import New</button>-->
                <!--                    </a>-->
                <!--                </div>-->
                <div class="col-md-2">
                    <label>&nbsp;</label>
                    <button class="btn btn-primary btn-block" type="button" id="importAccountsBtn">IMPORT ACCOUNTS</button>
                </div>
                <div class="col-md-2">
                    <label>&nbsp;</label>
                    <a href="{{ url_for('facebook_register')}}">
                        <button class="btn btn-primary btn-block" type="button" id="registerAccountBtn">FARM REG ACCOUNT</button>
                    </a>
                </div>

            </div>
        </form>
    </div>

    <div class="modal" id="addFacebookAccountModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Import Facebook Accounts</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="facebookAccountForm">
                        <div class="form-group">
                            <label>Paste</label>
                            <textarea class="form-control" placeholder="UID|Name|Password|2FA|Gender|Dob|Mail|PassMail" id="bulk_data" name="bulk_data" rows="8" required></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="submitAccountsBtn">Add New</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Table for Account Data -->
    <table class="table table-hover mt-4">
        <thead>
        <tr>
            <th><input type="checkbox" id="checkAll"></th>
            <th>No</th>
            <th>Device</th>
            <th>UID</th>
            <th>Name</th>
            <th>Password</th>
            <th>2FA</th>
            <th>Gender</th>
            <th>Date Of Birth</th>
            <th>Last Check</th>
            <th>Status</th>
            <th>Description</th>
            <!--            <th>Action</th> &lt;!&ndash; Add Action column &ndash;&gt;-->
        </tr>
        </thead>
        <tbody>

        {% for item in items %}
        <tr data-id="{{loop.index}}">
            <td><input type="checkbox" class="account-checkbox" data-id="{{ item.id }}"></td>
            <td>{{ '%03d' % (loop.index + (pagination.page - 1) * pagination.per_page) }}</td>
            <td><span class="badge badge-success">{{ item.device.name }}</span></td>
            <td>{{ item.uid }}</td>
            <td><a href="#">{{ item.username }}</a></td>
            <td>
                <span class="password-mask">****</span>
                <i class="fas fa-eye toggle-password" data-value="{{ item.password }}"></i>
            </td>
            <td>
                <span class="twofa-mask">****</span>
                <i class="fas fa-eye toggle-twofa" data-value="{{ item.two_fa }}"></i>
            </td>
            <td>{{ item.gender }}</td>
            <td>{{ item.dob }}</td>
            <td>{{ item.last_login }}</td>
            <td><span class="badge badge-success">{{item.status}}</span></td>
            <td>Build with Max Farm Tools</td>
            <!--            <td>-->
            <!--                <a class="btn btn-sm btn-primary" href="{{ url_for('edit_item', id=item.id) }}">Edit</a>-->
            <!--                <a class="btn btn-sm btn-danger delete-btn" data-id="{{ item.id }}"-->
            <!--                   href="{{ url_for('facebook_delete_account', id=item.id) }}">Delete</a>-->
            <!--                <a class="btn btn-sm btn-info" href="{{ url_for('view_item', id=item.id) }}">View</a>-->
            <!--            </td>-->
        </tr>
        {% else %}
        <tr>
            <td colspan="9">No items found</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <!-- Pagination Controls -->
    {% if pagination.pages > 1 %}
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if pagination.has_prev %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('facebook_accounts', page=pagination.prev_num) }}">Previous</a>
            </li>
            {% endif %}

            {% for page_num in pagination.iter_pages() %}
            {% if page_num %}
            <li class="page-item {{ 'active' if page_num == pagination.page else '' }}">
                <a class="page-link" href="{{ url_for('facebook_accounts', page=page_num) }}">{{ page_num }}</a>
            </li>
            {% endif %}
            {% endfor %}

            {% if pagination.has_next %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('facebook_accounts', page=pagination.next_num) }}">Next</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}

    <!-- Context Menu -->
    <div id="context-menu" class="dropdown-menu shadow" style="position: absolute; display: none;">
        <a class="dropdown-item" href="#" id="context-edit">
            <i class="fas fa-check"></i> Select
        </a>
        <a class="dropdown-item" href="#" id="context-edit12">
            <i class="fas fa-check"></i> Unselect
        </a>
        <a class="dropdown-item" href="#" id="context-copy">
            <i class="fas fa-copy"></i> Get 2Fa Code
        </a>
<!--        <div class="dropdown-divider"></div>-->
<!--        <a class="dropdown-item" href="#" id="context-accounts">-->
<!--            <i class="fas fa-check"></i> Select All Accounts-->
<!--        </a>-->
<!--        <a class="dropdown-item" href="#" id="context-unselectaccount">-->
<!--            <i class="fas fa-check"></i> Unselect All Accounts-->
<!--        </a>-->
        <div class="dropdown-divider"></div>
<!--        <a class="dropdown-item" href="#" id="context-selectpage">-->
<!--            <i class="fas fa-check"></i> Select All-->
<!--        </a>-->
<!--        <a class="dropdown-item" href="#" id="context-selectpageads">-->
<!--            <i class="fas fa-check"></i> Unselect All-->
<!--        </a>-->
        <a class="dropdown-item" href="#" id="context-createpage">
            <i class="fas fa-check"></i> Create Page
        </a>
        <a class="dropdown-item" href="#" id="context-view">
            <i class="fas fa-life-ring"></i> Check live
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#" id="context-delete1">
            <i class="fas fa-sd-card"></i> Back up
        </a>
        <a class="dropdown-item" href="#" id="context-view1">
            <i class="fas fa-eye"></i> Open Account
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#" id="context-config">
            <i class="fas fa-wrench"></i> Configuration
        </a>
        <a class="dropdown-item" href="#" id="context-change-device">
            <i class="fas fa-marker"></i> Update Device info
        </a>

    </div>


</div>
{% endblock %}

{% block scripts %}
<script src="/static/AdminLTE/js/facebook_account.js"></script>
{% endblock %}
