<!--{% extends 'layout.html' %}-->
<!--{% block menu_open_facebook %} menu-open {% endblock %}-->
<!--{% block content %}-->
<!--<div class="content-header">-->
<!--  <h1>Bulk Add Account</h1>-->
<!--</div>-->

<!--<div class="content">-->

<!--  &lt;!&ndash;    ****** FORM DIALOG IMPORT PAGE ***** &ndash;&gt;-->
<!--  <div class="row" id="formImportPage">-->
<!--    <div class="col-md-10">-->
<!--      <div class="card">-->
<!--        <div class="card-body">-->
<!--          <form method="POST" action="/facebook/accounts/bulk_add">-->
<!--            <div class="row">-->
<!--              &lt;!&ndash; First row of checkboxes &ndash;&gt;-->
<!--              <div class="col-sm-12">-->
<!--                <div class="form-group">-->
<!--                  <label>Paste</label>-->
<!--                  <textarea class="form-control" placeholder="UID|Name|Password|2FA|Gender|Dob|Mail|PassMail" id="bulk_data" name="bulk_data" rows="8" required></textarea>-->
<!--                </div>-->

<!--              </div>-->

<!--            </div>-->
<!--            &lt;!&ndash; Buttons &ndash;&gt;-->
<!--            <div class="row">-->
<!--                <div class="col-md-2">-->
<!--                    <button class="btn btn-primary btn-block" type="submit">Add New</button>-->
<!--                </div>-->
<!--              <div class="col-md-2">-->
<!--                    <button class="btn btn-danger btn-block" type="button" id="noImportPageBtn">Cancel</button>-->
<!--                </div>-->
<!--            </div>-->
<!--          </form>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--  </div>-->



<!--</div>-->
<!--{% endblock %}-->
<!--{% block scripts %}-->

<!--<script>-->



<!--</script>-->
<!--{% endblock %}-->