{% extends 'layout.html' %}
{% block menu_open_facebook %} menu-open {% endblock %}
{% block active_facebook_monetize %}
active
{% endblock %}
{% block content %}
<div class="content-header">
    <h1>FACEBOOK MONETIZATION</h1>
</div>

<div class="content">

    <!-- Search Filter Section -->
    <div class="filter-section">
        <form id="filter-form" method="GET">
            <div class="row">
                <!-- Combo box for filtering by category -->
                <div class="col-md-2">
                    <label for="category">Search By:</label>
                    <select class="form-control" id="category" name="category">
                        <option value="">All</option>
                        <option value="Category1">Page(Name or ID)</option>
                        <option value="Category2">Account</option>
                        <option value="Category3">Monetization</option>
                    </select>
                </div>

                <!-- Text box for searching -->
                <div class="col-md-2">
                    <label for="search">Search:</label>
                    <input class="form-control" id="search" name="search" placeholder="Enter keyword..." type="text">
                </div>

                <div class="col-md-2">
                    <label>&nbsp;</label>
                    <button class="btn btn-primary btn-block" type="button" id="importAccountsBtn">IMPORT ACCOUNTS</button>
                </div>
                <div class="col-md-2">
                    <label>&nbsp;</label>
                    <a href="{{ url_for('facebook_register')}}">
                        <button class="btn btn-primary btn-block" type="button" id="registerAccountBtn">FARM REG ACCOUNT</button>
                    </a>
                </div>

            </div>
        </form>
    </div>

    <div class="modal" id="addFacebookAccountModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Import Facebook Accounts</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="facebookAccountForm">
                        <div class="form-group">
                            <label>Paste</label>
                            <textarea class="form-control" placeholder="UID|Name|Password|2FA|Gender|Dob|Mail|PassMail" id="bulk_data" name="bulk_data" rows="8" required></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="submitAccountsBtn">Add New</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Table for Account Data -->
    <table class="table table-hover mt-4">
        <thead>
        <tr>
            <th><input type="checkbox" id="select-all"></th>
            <th>No</th>
            <th>Name</th>
            <th>Monetization</th>
            <th>Category</th>
            <th>Follower</th>
            <th>Reached</th>
            <th>Created Date</th>
            <th>Daily Post</th>
            <th>Status</th>
            <th>Description</th>

        </tr>
        </thead>
        <tbody>
<!--{% for item in items %}-->
<!--        <tr data-id="{{loop.index}}">-->
<!--            <td><input type="checkbox" class="select-row" data-id="{{ item.id }}"></td>-->
<!--            <td>{{ '%03d' % (loop.index + (pagination.page - 1) * pagination.per_page) }}</td>-->
<!--            <td><span class="badge badge-success">{{ item.account.device.name }}</span></td>-->
<!--            <td>{{ item.name }}</td>-->
<!--            <td>https://www.facebook.com/profile={{ item.page_id }}</td>-->
<!--            <td>{{ item.category }}</td>-->
<!--            <td>{{ format_number(item.followers_count) }}</td>-->
<!--            <td>{{ format_number(item.reached) }}</td>-->
<!--            <td>{{ item.created_at }}</td>-->
<!--            <td>{{ item.monetization_enabled }}</td>-->
<!--            <td><span class="badge badge-success">Enable</td>-->
<!--            <td><span class="badge badge-primary">Invited Creator Monetization</span></td>-->
<!--        </tr>-->
<!--        {% else %}-->
<!--        <tr>-->
<!--            <td colspan="9">No items found</td>-->
<!--        </tr>-->
<!--        {% endfor %}-->
        </tbody>
    </table>


    <!-- Context Menu -->
    <div id="context-menu" class="dropdown-menu shadow" style="position: absolute; display: none;">
        <a class="dropdown-item" href="#" id="context-edit">
            <i class="fas fa-check"></i> Select
        </a>
        <a class="dropdown-item" href="#" id="context-edit12">
            <i class="fas fa-check"></i> Unselect
        </a>
        <a class="dropdown-item" href="#" id="context-copy">
            <i class="fas fa-copy"></i> Get 2Fa Code
        </a>
<!--        <div class="dropdown-divider"></div>-->
<!--        <a class="dropdown-item" href="#" id="context-accounts">-->
<!--            <i class="fas fa-check"></i> Select All Accounts-->
<!--        </a>-->
<!--        <a class="dropdown-item" href="#" id="context-unselectaccount">-->
<!--            <i class="fas fa-check"></i> Unselect All Accounts-->
<!--        </a>-->
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#" id="context-selectpage">
            <i class="fas fa-check"></i> Select All Pages
        </a>
        <a class="dropdown-item" href="#" id="context-selectpageads">
            <i class="fas fa-check"></i> Select All Pages Ads
        </a>
        <a class="dropdown-item" href="#" id="context-view">
            <i class="fas fa-life-ring"></i> Check live
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#" id="context-delete1">
            <i class="fas fa-sd-card"></i> Back up
        </a>
        <a class="dropdown-item" href="#" id="context-view1">
            <i class="fas fa-eye"></i> Open Account
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#" id="context-config">
            <i class="fas fa-wrench"></i> Configuration
        </a>
        <a class="dropdown-item" href="#" id="context-change-device">
            <i class="fas fa-marker"></i> Update Device info
        </a>

    </div>


</div>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function() {


  });

</script>
{% endblock %}

{% block styles %}

{% endblock %}