{% extends 'layout.html' %}
{% block menu_open_facebook %} menu-close {% endblock %}
{% block active_gmail %}
active
{% endblock %}
{% block content %}
<div class="content-header">
    <h1>GMAIL MANAGEMENT</h1>
</div>

<div class="content">

    <!-- Search Filter Section -->
    <div class="filter-section">
        <form id="filter-form" method="GET">
            <div class="row">
                <!-- Combo box for filtering by category -->
                <div class="col-md-2">
                    <label for="category">Category:</label>
                    <select class="form-control" id="category" name="category">
                        <option value="">All</option>
                        <option value="Category1">Short</option>
                        <option value="Category1">Monetization</option>
                        <option value="Category2">Traffic</option>

                    </select>
                </div>

                <!-- Text box for searching -->
                <div class="col-md-3">
                    <label for="search">Search:</label>
                    <input class="form-control" id="search" name="search" placeholder="Enter keyword..." type="text">
                </div>

                <!-- Submit Button for filtering -->
                <!--                <div class="col-md-2">-->
                <!--                    <label>&nbsp;</label>-->
                <!--                    <button class="btn btn-primary btn-block" type="submit">Filter</button>-->
                <!--                </div>-->
                <!-- Submit Button for filtering -->
                <div class="col-md-2">
                    <label>&nbsp;</label>
                    <button class="btn btn-primary btn-block" id="addNewBtn" type="button">Add New</button>
                    <!-- Dialog Form for Adding New Bank -->

                </div>
                <div class="col-md-2">
                    <label>&nbsp;</label>
                    <a href="{{ url_for('gmail_register')}}">
                        <button class="btn btn-primary btn-block" type="button" id="registerAccountBtn">FARM REG</button>
                    </a>
                </div>
            </div>
        </form>
    </div>
    <div class="modal" id="addGmailModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add New Gmail</h5>
                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                </div>
                <div class="modal-body">
                    <form id="gmailForm">
                        <div class="mb-2">
                            <label class="form-label" for="name">Name</label>
                            <input class="form-control" id="name" required type="text">
                        </div>
                        <div class="mb-2">
                            <label class="form-label" for="gmail">Gmail</label>
                            <input class="form-control" id="gmail" required type="text">
                        </div>
                        <div class="mb-2">
                            <label class="form-label" for="password">Password</label>
                            <input class="form-control" id="password" required type="text">
                        </div>
                        <div class="mb-2">
                            <label class="form-label" for="verify">Verify Phone/Gmail(Optional)</label>
                            <input class="form-control" id="verify" type="phone">
                        </div>
                        <div class="mb-2">
                            <label class="form-label" for="status">Status</label>
                            <select class="form-control" id="status">
                                <option value="Enable">Enable</option>
                                <option value="Disable">Disable</option>
                            </select>
                        </div>
                        <div class="mb-2">
                            <label class="form-label" for="description">Description</label>
                            <textarea class="form-control" id="description" rows="2"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Cancel</button>
                    <button class="btn btn-primary" id="submitGmailBtn" type="button">Add New</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Table for Account Data -->
    <table class="table table-hover mt-4">
        <thead>
        <tr>
            <th><input type="checkbox" id="checkAll"></th>
            <th>No</th>
            <th>Device</th>
            <th>Name</th>
            <th>Gmail</th>

<!--            <th>Password</th>-->
            <th>Socials</th>
<!--            <th>Verify(Phone/Gmail)</th>-->
            <th>Created Date</th>
            <th>Status</th>
            <th>Description</th>
            <!--            <th>Action</th> &lt;!&ndash; Add Action column &ndash;&gt;-->
        </tr>
        </thead>
        <tbody>


        {% for item in items %}
        <tr data-id="{{item.id}}">
            <td><input type="checkbox" class="row-checkbox"></td>
            <td>{{ '%03d' % (loop.index + (pagination.page - 1) * pagination.per_page) }}</td>
            <td>
                <span class="badge badge-success">{{ item.device.name }}</span>
            </td>
            <td>{{ item.name }}</td>
            <td><a href="#">{{ item.gmail }}</a></td>
<!--            <td>{{ item.password }}</td>-->
            <td>
                <i class="fab fa-facebook-square"></i>
                &nbsp;
                <i class="fab fa-tiktok"></i>
                &nbsp;
                <i class="fab fa-youtube"></i>
                &nbsp;
                <i class="fab fa-instagram"></i>
            </td>
<!--            <td>{{ item.verify }}</td>-->
            <td>{{ item.created_date }}</td>
            <td>
                <span class="badge badge-success">{{ item.status }}</span>
            </td>
            <td>{{ item.description }}</td>
            <!--            <td>-->
            <!--                <a class="btn btn-sm btn-primary" href="{{ url_for('edit_item', id=item.id) }}">Edit</a>-->
            <!--                <a class="btn btn-sm btn-danger delete-btn" data-id="{{ item.id }}"-->
            <!--                   href="{{ url_for('delete_item', id=item.id) }}">Delete</a>-->
            <!--                <a class="btn btn-sm btn-info" href="{{ url_for('view_item', id=item.id) }}">View</a>-->
            <!--            </td>-->
        </tr>
        {% else %}
        <tr>
            <td colspan="9">No items found</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- Pagination Controls -->
    {% if pagination.pages > 1 %}
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if pagination.has_prev %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('gmail_list', page=pagination.prev_num) }}">Previous</a>
            </li>
            {% endif %}

            {% for page_num in pagination.iter_pages() %}
            {% if page_num %}
            <li class="page-item {{ 'active' if page_num == pagination.page else '' }}">
                <a class="page-link" href="{{ url_for('gmail_list', page=page_num) }}">{{ page_num }}</a>
            </li>
            {% endif %}
            {% endfor %}

            {% if pagination.has_next %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('gmail_list', page=pagination.next_num) }}">Next</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}

    <!-- Context Menu -->
    <div class="dropdown-menu shadow" id="context-menu" style="position: absolute; display: none;">
        <a class="dropdown-item" href="#" id="context-edit">
            <i class="fas fa-check"></i> Select
        </a>
        <a class="dropdown-item" href="#" id="context-unselect">
            <i class="fas fa-times"></i> Unselect
        </a>

        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#" id="context-view">
            <i class="fas fa-eye"></i> View Detail
        </a>
        <a class="dropdown-item" href="#" id="context-create">
            <i class="fas fa-icons"></i> Create Social Account
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#" id="context-copy">
            <i class="fas fa-times"></i> Copy
        </a>
        <a class="dropdown-item" href="#" id="context-delete">
            <i class="fas fa-trash-alt"></i> Delete
        </a>
        <a class="dropdown-item" href="#" id="context-update">
            <i class="fas fa-marker"></i> Update Gmail info
        </a>


    </div>

</div>
{% endblock %}
{% block scripts %}
<script src="/static/AdminLTE/js/gmail_accounts.js"></script>

{% endblock %}